* {
  font-family: 'Lucida Sans';
  font-style: italic;
}
h3 > a{
    color: white;
    padding: 2em;
}

.myday{
    color: white; 
    padding: 2em;
   
}

.life{
    font-size: 1.4rem;
    background:black;  
    border: solid salmon .4em;
    min-height: 30rem;
}
.life>h2{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1em;
}
.form{
  color: white;
  padding: 1em;
}
.life>p{
    color: white;
    padding: 1em;
}
.slidecontainer {
    width: 40%;
    padding: 2em;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  @media screen and (min-width: 550px){

    .life>h2{
        font-size: 2.2rem;
    }

}
